* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

html,
body {
  width: 100%;
}
body {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  margin: 0;
  padding: 0;
}
